{% load static %}

<link rel="stylesheet" href="{% static 'styles/activities.css' %}" />
<div class="activities">
    <div class="activities__header">
      <h2>Recent Activities</h2>
    </div>

    <div class="activity__body">
      {% for message in classroom_messages %}
      <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">
          <a href="{% url 'user-profile' message.author.id %}" class="classroomListRoom__author">
            <div class="avatar avatar--small">
              <img src="{{message.author.avatar.url}}" />
            </div>
            <p>
              @{{message.author.username}}
              <span>{{message.created | timesince}} ago</span>
            </p>
          </a>
        </div>
        <div class="activities__boxContent">
          <p>replied to post “<a href="{% url 'classroom' message.classroom.id %}">{{message.classroom}}</a>”</p>
          <div class="activities__boxRoomContent">
            {{message}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <a class="btn btn--link" href="{% url 'activities' %}">
      More
      <svg class="chevron-down" width="16" height="16" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
</div>
