{% load static i18n %}

<link rel="stylesheet" href="{% static 'styles/pagination.css' %}" />
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; {% translate "first" %}</a>
      <a href="?page={{ page_obj.previous.page_number }}">{% translate "previous" %}</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">{% translate "next" %}</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">{% translate "last" %} &raquo;</a>
    {% endif %}
  </span>
</div>
