{% load static %}

<div class="topics">
  <div class="topics__header">
    <h2>Browse Topics</h2>
  </div>
  <ul class="topics__list">
    <li>
      <a href="{% url 'home' %}" class="active"
        >All <span>{{topics.count}}</span></a
      >
    </li>
    {% for topic in topics %}
    <li>
      <a href="{% url 'home' %}?q={{topic.name}}"
        >{{topic.name}}<span>{{topic.classroom_set.all.count}}</span></a
      >
    </li>
    {% endfor %}
  </ul>
  <a class="btn btn--link" href="{% url 'topics' %}">
    More
    <img src="{% static 'images/icons/chevron-down.svg' %}" />
  </a>
</div>
