{% load static %}

<link rel="stylesheet" href="{% static 'styles/footer.css' %}" />
<section class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-content">
          <div class="footer-links">
            <a href="https://github.com/jolshylar/jazbahana">Github</a>
            <a href="https://t.me/+nk4YJtv9z702MjIy">Telegram</a>
            <a href="https://discord.gg/qf2cyyaW">Discord</a>
            <a href="#">Donate</a>
          </div>
        </div>
        <div class="footer-license">
          &copy; Jolshylar 2022
        </div>
      </div>
    </div>
</section>