{% load static %}

<link rel="stylesheet" href="{% static 'styles/footer.css' %}" />
<section class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-content">
        <div class="footer-links">
          <a href="/api/v1">API</a>
          <a href="https://github.com/jolshylar">Github</a>
          <a href="https://t.me/+nk4YJtv9z702MjIy">Telegram</a>
          <a href="https://discord.gg/6dSpCGtJuB">Discord</a>
          <a href="https://instagram.com/jolshylar">Instagram</a>
        </div>
      </div>
      <div class="footer-license">&copy; Jolshylar 2022</div>
    </div>
  </div>
</section>
