{% load static %}

<link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
<header class="header header--loggedIn">
  <div class="container" id="container">
    <a href="{% url 'home' %}" class="header__logo">
      <img id="logo" src="{% static 'images/logo.png' %}" />
    </a>
    <form class="header__search" action="{% url 'home' %}">
      <label>
        <svg class="search" width="16" height="16" viewBox="0 0 32 32">
          <title>search</title>
          <path d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"></path>
        </svg>
        <input name="q" placeholder="Search Conspects..." />
      </label>
    </form>

    <div class="switch-box">
     <label class="switch">
      <input id="theme-switch" type="checkbox" />
      <span class="slider round"></span>
     </label>
    </div>

    <nav id="bar">
          <!-- Hamburger menu -->
          <div id="menu" onclick="hamburgerMenu()">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
          </div>
          <!-- A bunch of links -->
        <div id="list-wrapper" class="list-wrapper">
          <ul class="list">
            <li class="list-link"><a href="{% url 'home'%}">Home</a></li>
            <li class="list-link"><a href="{% url 'about' %}">About</a></li>
            <li class="list-link"><a href="{% url 'donate' %}">Donate</a></li>
              {% if user.is_authenticated %}
            <li class="list-link"><a href="{% url 'user-profile' user.id %}">Profile</a></li>
            <li class="list-link"><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <!-- User is not authenticated -->
            <li class="list-link"><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
          </ul>
        </div>
    </nav> 
   
</div>
</header>
