{% load static %}

<link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
<header class="header header--loggedIn">
  <div class="container" id="container">
    <a href="{% url 'home' %}" class="header__logo">
      <img id="logo" src="{% static 'images/logo_dark.png' %}" />
    </a>
    <form class="header__search" action="{% url 'home' %}">
      <label>
        <img src="{% static 'images/icons/search.svg' %}">
        <input name="q" placeholder="Search Conspects..." />
      </label>
    </form>

    <nav class="header__menu">
      
      <div class="nav-bar">
        <ul class="pages">
          <li>
            <a href="{% url 'home'%}">Home</a>
          </li>
          <li>
            <a href="{% url 'about' %}">About</a>
          </li>
          <li>
            <a href="{% url 'donate' %}">Donate</a>
          </li>
          <li>
            <label class="switch">
              <input id="theme-switch" type="checkbox" />
              <span class="slider round"></span>
            </label>
          </li>
        </ul>

      <!-- Logged In -->
      {% if user.is_authenticated %}
      <div class="header__user">
        <a href="{% url 'user-profile' user.id %}">
          <div class="avatar avatar--medium active">
            <img src="{{user.avatar.url}}" />
          </div>
          {% if user.name %}
          <p>{{user.name}} <span>@{{user.username}}</span></p>
          {% else %}
          <p>@{{user.username}}</p>
          {% endif %}
        </a>
        <button class="dropdown-button">
          <img src="{% static 'images/icons/chevron-down.svg' %}" />
        </button>
      </div>
      {% else %}

      <!-- Not Logged In -->
      <a href="{% url 'login' %}">
        <img src="{% static 'images/avatar.svg' %}" />
        <p class="login-word">Login</p>
      </a>
      {% endif %}

      <nav id="bar">
        <!-- Hamburger menu -->
        <div id="menu" onclick="hamburgerMenu()">
          <div class="line line1"></div>
          <div class="line line2"></div>
          <div class="line line3"></div>
        </div>
        <!-- A bunch of links -->
        <div id="list-wrapper" class="list-wrapper">
          <ul class="list">
            <li class="list-link"><a href="{% url 'home'%}">Home</a></li>
            <li class="list-link"><a href="{% url 'about' %}">About</a></li>
            <li class="list-link"><a href="{% url 'donate' %}">Donate</a></li>
            <li class="list-link"><a href="{% url 'user-profile' user.id %}">Profile</a></li>
            <li>
              <label class="switch">
                <input id="theme-switch" type="checkbox" />
                <span class="slider round"></span>
              </label>
            </li>
          </ul>
        </div>
      </nav>
        
      <div class="dropdown-menu"> 
        <a href="{% url 'update-user' %}" class="dropdown-link"
        ><img src="{% static 'images/icons/tools.svg' %}" />
        <p>Settings</p>
        </a>
      
        <a href="{% url 'logout' %}" class="dropdown-link"
        ><img src="{% static 'images/icons/sign-out.svg' %}" />
        <p>Logout</p>
        </a>
      </div>

      </div>
    </nav>
</div>
</header>
