/*==============================
=>  Activities
================================*/

.activities {
  background: var(--color-dark);
  border-radius: 5px;
  overflow: hidden;
}

.activities__header h2 {
  background-color: var(--color-dark-light);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 1.5rem;
  color: var(--color-light);
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.activities__box {
  margin: 1.5rem;
  padding: 1.5rem;
  border: 2px solid var(--color-dark-medium);
  border-radius: 5px;
}

.activities__boxHeader p {
  font-size: 1.4rem;
  line-height: 1.3;
}

.activities-page {
  overflow-y: auto;
  max-height: 300px;
}

.layout__box {
  margin-top: 250px;
}

.activities__boxHeader p span {
  color: var(--color-gray);
  font-size: 1.2rem;
  display: block;
}

.activities__boxContent {
  margin-left: 4.2rem;
}

.activities__boxContent {
  font-size: 1.4rem;
}

.activities__boxContent a:hover {
  text-decoration: underline;
}

.activities__boxRoomContent {
  background: var(--color-bg);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: -4.2rem;
}

/*==============================
=>  Classroom
================================*/

.classroom,
.students {
  background: var(--color-dark);
  max-height: 87.5vh;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 900px) {
  .students {
    display: none;
  }

  .layout--2 > .container > div:first-child {
    flex-basis: 100%;
  }
}

.classroom__top,
.students__top {
  background: var(--color-dark-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.classroom__top svg,
.thread__top svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-light);
  cursor: pointer;
}

.classroom__topLeft {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.classroom__topLeft h3,
.students__top {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.classroom__topLeft svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-light);
}

.classroom__topRight {
  display: flex;
  column-gap: 1em;
}

.classroom__topRight svg {
  fill: var(--color-main-light);
}

.classroom__header {
  max-height: 30vh;
  overflow-y: auto;
  position: absolute;
  width: 95%;
  background: var(--color-dark);
  z-index: 999;
  top: 4.4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .classroom__header {
    top: 4.3rem;
    padding-right: 2rem;
  }
}

.classroom__box {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 80.5vh;
  /* overflow-y: auto; */
  padding-bottom: 0;
}

@media screen and (max-width: 500px) {
  .classroom__box {
    padding-left: 2.5rem;
    padding-right: 2rem;
    height: 80.5vh;
    overflow-y: auto;
    padding-bottom: 0;
  }
}

.classroom__info {
  display: flex;
  justify-content: space-between;
}

.classroom__info h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-main);
}

.classroom__hosted p {
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
}

.classroom__author {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.classroom__author:hover {
  text-decoration: underline;
}

.classroom__topics {
  padding: 0.5rem 1.5rem;
  background: var(--color-dark-light);
  color: var(--color-light);
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.classroom__conversation {
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: 64%;
}

.threads h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray);
}

.threads {
  background: var(--color-bg);
  border-radius: 0.7rem;
  overflow-y: auto;
  height: 100%;
  margin-top: 28vh;
  padding: 0 2rem 4rem 2rem;
}

.thread {
  border-left: 2px solid var(--color-dark);
  padding-left: 1rem;
  margin: 2rem 0;
  padding: 2rem;
}

.thread__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thread__top svg {
  fill: var(--color-dark-light);
}

.thread__author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.thread__authorInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.thread__details {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.classroom__message {
  padding: 2rem;
  position: absolute;
  z-index: 111;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}

.classroom__message input {
  color: var(--color-main-light);
  width: 100%;
  background-color: var(--color-dark-light);
  border: none;
}

.classroom__message > form {
  resize: none;
  background-color: var(--color-dark-light);
  color: var(--color-light);
  border: none;
  outline: none;
  border-radius: 0.7rem;
  height: 4.5rem;
  width: 100%;
  margin-top: -1rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
}

.classroom__message > form > input::placeholder {
  color: var(--color-light-gray);
}

.students__top span {
  color: var(--color-main);
  font-size: 1.3rem;
  text-transform: none;
}

.students__top {
  justify-content: flex-start;
  gap: 0.5rem;
}

.students__list {
  padding: 2rem;
  height: 82.5vh;
  overflow-y: scroll;
  padding-bottom: 0;
}

.student {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.student p {
  color: var(--color-light-gray);
  line-height: 1.2;
}

.student span {
  display: block;
  font-weight: 500;
  color: var(--color-main);
  font-weight: 1.4rem;
}