.classroom,
.students {
  background: var(--color-components);
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}

.classroom__top,
.students__top {
  background: var(--color-dark-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.classroom__top svg,
.thread__top svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-light);
  cursor: pointer;
}

.classroom__topLeft {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.classroom__topLeft h3 {
  padding-bottom: 2px;
}

.classroom__topLeft h3,
.students__top {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.classroom__topLeft svg {
  /* width: 1.6rem;
  height: 1.6rem; */
  fill: var(--color-light);
}

.classroom__topRight {
  display: flex;
  column-gap: 1em;
}

.classroom__topRight svg {
  fill: var(--color-main-light);
}

.classroom__header {
  max-height: 30vh;
  overflow-y: auto;
  /* position: absolute; */
  width: 100%;
  background: var(--color-components);
  z-index: 999;
  top: 4.4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.classroom {
  margin-bottom: 200px;
}

.classroom__box {
  padding-left: 2rem;
  padding-right: 2rem;
  height: max-content;
  padding-bottom: 0;
}

.classroom__info {
  display: flex;
  justify-content: space-between;
}

.classroom__info span {
  margin-right: 1rem;
  padding-top: 1rem;
}

.classroom__info h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-main);
}

.classroom__hosted p {
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
}

.classroom__author {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.classroom__author:hover {
  text-decoration: underline;
}

.classroom__topics {
  padding: 0.5rem 1.5rem;
  background: var(--color-dark-light);
  color: var(--color-light);
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.classroom__conversation {
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: 64%;
}

.threads h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray);
}

.threads {
  background: var(--color-bg);
  border-radius: 0.7rem;
  overflow-y: auto;
  height: 100%;
  margin-top: 10px;
  padding: 0 2rem 4rem 2rem;
  height: 40vh;
}

.thread {
  border-left: 2px solid var(--color-light);
  padding-left: 1rem;
  margin: 2rem 0;
  padding: 2rem;
}

.thread__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thread__top svg {
  fill: var(--color-dark-light);
}

.thread__author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.thread__authorInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.thread__details {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.classroom__message {
  /* position: absolute; */
  z-index: 111;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  gap: 0;
}

.classroom__message input {
  color: var(--color-main-light);
  width: 80%;
  background-color: var(--color-dark-light);
  border: none;
  outline: none;
  padding-left: 10px;
}

.classroom__message > form {
  resize: none;
  background-color: var(--color-dark-light);
  color: var(--color-light);
  border: none;
  outline: none;
  border-radius: 0.7rem;
  height: 4.5rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  height: 40px;
  display: flex;
}

.classroom__message button {
  height: 100%;
  width: 20%;
  display: block;
}

.classroom__message > form > input::placeholder {
  color: var(--color-light-gray);
}

/* ===== Students ===== */

.students__top span {
  color: var(--color-main);
  font-size: 1.3rem;
  text-transform: none;
}

.students__top {
  justify-content: flex-start;
  gap: 0.5rem;
  border-radius: 0.7rem 0.7rem 0 0;
}

.students__list {
  padding: 2rem;
  max-height: 137px;
  overflow-y: auto;
  padding-bottom: 0;
}

.student {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  height: 100px;
  /* overflow: scroll; */
}

.student p {
  color: var(--color-light-gray);
  line-height: 1.2;
}

.student span {
  display: block;
  font-weight: 500;
  color: var(--color-main);
  font-weight: 1.4rem;
}

/* ===== Conspects ===== */

.conspect__box {
  padding-left: 2rem;
  padding-right: 2rem;
  height: max-content;
  /* overflow-y: auto; */
  padding-bottom: 0;
}

.conspect__info {
  display: flex;
  justify-content: space-between;
}

.conspect__info h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-main);
}

.conspect__hosted p {
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
}

.conspect__author {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.conspect__author:hover {
  text-decoration: underline;
}

.conspect__topics {
  padding: 0.5rem 1.5rem;
  background: var(--color-dark-light);
  color: var(--color-light);
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.conspect__conversation {
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: 64%;
}

.conspect__upload {
  padding: 2rem;
  /* position: absolute; */
  z-index: 111;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  /* display: flex;
  justify-content: space-between; */
  gap: 0;
}

.conspect__upload input {
  color: var(--color-main-light);
  width: 100%;
  background-color: var(--color-dark-light);
  border: none;
}

.conspect__upload > form {
  resize: none;
  background-color: var(--color-dark-light);
  color: var(--color-light);
  border: none;
  outline: none;
  border-radius: 0.7rem;
  height: 4.5rem;
  width: 90%;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  height: 40px;
}

.conspect__upload > form > input::placeholder {
  color: var(--color-light-gray);
}

.upload__students {
  display: block;
}

.conspects {
  background-color: var(--color-components);
  margin-top: 20px;
  border-radius: 0.7rem;
}

.conspect__conversation .thread__author {
  display: block;
}

.conspect__upload .btn--main {
  margin-left: 35%;
  display: block;
}

/* =========================== Medias ============================= */

@media screen and (max-width: 900px) {
  .layout--2 > .container > div:first-child {
    flex-basis: 100%;
  }

  .classroom {
    width: 100%;
    margin-bottom: 10px;
  }

  .upload__students {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .students {
    width: 30%;
  }

  .conspects {
    margin-top: 0;
    width: 60%;
  }

  .students__list {
    max-height: 400px;
  }
}

@media screen and (max-width: 616px) {

  .classroom__box {
    padding-left: 2.5rem;
    padding-right: 2rem;
    height: 80.5vh;
    overflow-y: auto;
    padding-bottom: 0;
  }

  .classroom__header {
    top: 4.3rem;
    padding-right: 2rem;
  }

  .classroom {
    margin-bottom: 10px;
  }

  .upload__students {
    display: block;
  }

  .students {
    margin-bottom: 10px;
    width: 100%;
  }

  .students__list {
    max-height: 137px;
  }

  .conspects {
    height: max-content;
    width: 100%;
  }

  .conspect__upload .btn--main {
    margin-left: 40%;
}
}
