/* ===== Donate Page ===== */

.donate-page {
  font-size: 2rem;
  margin: 5%;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--color-components);
  border-radius: 10px;
}

.donate-page h1 {
  padding-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.donate-page ul {
  list-style-position: inside;
}

.donate-page li {
  margin-left: 5%;
}

.donate-page p {
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .donate-page {
    font-size: 1.5rem;
    margin: 5% 0;
  }

  .donate-page h1 {
    font-size: 2srem;
    padding-top: 1rem;
  }

  .donate-page li {
    margin-left: 1%;
  }
}
