.dropdown-menu {
  z-index: 111;
  position: absolute;
  top: 5rem;
  right: 0.5rem;
  background: var(--color-dark-light);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px var(--color-header-footer);
  overflow: hidden;
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu a {
  padding: 1.2rem 4rem;
  /* display: block; */
  color: var(--color-light) !important;
  font-weight: 500;
  font-size: 1.4rem;
}

.dropdown-menu > a:not(:last-child) {
  border-bottom: 1px solid var(--color-dark-medium);
}

.dropdown-menu a svg {
  fill: var(--color-light);
}

.dropdown-link {
  display: flex;
  justify-content: space-around;
}

.dropdown-link img {
  padding-left: 0;
  max-height: 12px;
}

/* Language Dropdown Menu */

.language {
  position: relative;
  display: inline-block;
}

.language-content {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  background-color: var(--color-dark);
}

.language:hover .language-content {
  display: flex;
  flex-direction: column;
}

.language p {
  margin-top: 30%;
  font-size: 25px;
}
