@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --color-main: #71c6dd;
  --color-main-light: #e1f6fb;
  --color-dark: #111329;
  --color-dark-medium: #51546e;
  --color-dark-light: #393b57;
  --color-light: #e5e5e5;
  --color-gray: #8b8b8b;
  --color-light-gray: #b2bdbd;
  --color-bg: #0e1631;
  --color-success: #5dd693;
}

/*========== base styles ==========*/

* {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-size: inherit;
}

html {
  font-size: 56.25%;
}

body {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-light-gray);
  background-color: var(--color-bg);
  min-height: 100vh;
}

a {
  display: inline-block;
  color: var(--color-main);
  text-decoration: none;
}

code {
  display: block;
  white-space: pre-wrap; 
}

/*========== 
Components
 ==========*/
.container {
  max-width: 120rem;
  width: 90%;
  margin: auto;
}

.btn {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

.btn--link {
  border-radius: 0;
  padding: 0;
  color: var(--color-main);
  box-shadow: none;
  margin-left: 5%;
  margin-bottom: 10px;
}

.btn--link:hover {
  text-decoration: underline;
}

.btn--main {
  background-color: var(--color-main);
  color: var(--color-dark);
}

.btn:hover {
  opacity: 0.9;
}

.btn--dark {
  background-color: var(--color-dark-light);
  color: var(--color-light);
}

.btn--pill {
  border-radius: 10rem;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 6px 2.5rem;
  color: var(--color-main);
  background: transparent;
  border: 2px solid var(--color-main);
}

.avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--color-main);
}

.avatar img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.avatar::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-gray);
  z-index: 111;
  border-radius: 50%;
  border: 0.3rem solid var(--color-dark);
}

.avatar.active::after {
  background-color: var(--color-success);
}

.avatar.avatar--small img {
  width: 2.8rem;
  height: 2.8rem;
}

.avatar.avatar--small:after {
  width: 0.7rem;
  height: 0.7rem;
  bottom: 0px;
  right: -6px;
}

.avatar.avatar--medium img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
}

.avatar.avatar--medium:after {
  width: 0.7rem;
  height: 0.7rem;
  bottom: 0px;
  right: -6px;
}

.avatar.avatar--large img {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.avatar.avatar--large:after {
  width: 1rem;
  height: 1rem;
  bottom: 2px;
  right: 3.5px;
}

/* .scroll::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgb(41, 41, 46);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-gray);
} */

.mobile-menu {
  margin-bottom: 3rem;
}

.mobile-menuItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/*==============================
 Header Section
================================*/

.header {
  padding: 1.5rem;
  background-color: var(--color-dark);
}

.login-word {
  padding-top: 5.78px;
}

.header > .container {
  display: flex;
  gap: 9.5rem;
}

.header__logo,
.header__user {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__logo > img {
  height: 50px;
}

.header__logo > h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-light);
}

.header__search > label {
  background-color: var(--color-dark-medium);
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
}

.header__search input {
  width: 30rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-light);
}

.header__menu {
  position: relative;
  margin-left: auto;
}

.header__menu a {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-gray);
}

.header__menu img {
  height: 3.6rem;
}

.header__menu p {
  line-height: 1.2;
}

.header__menu span {
  color: var(--color-main);
  font-weight: 500;
  font-size: 1.4rem;
  display: block;
}

.dropdown-button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.dropdown-button img {
  max-height: 18px;
}

.pages {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding-top: 2%;
}

.pages a:hover {
  color: #fff;
  transition: 0.2s linear; 
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

/* =============
Media
============= */

@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 2100px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 800px) {
  .header__search input {
    width: 20rem;
  }

  .header > .container {
    gap: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .header__logo h1 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header__search, 
  .pages a, 
  .header__user {
    display: none;
  }
 
  .footer {
    width: 100%
  }

  .layout. .container, 
  .header .container {
    display: block;
  }

  .layout--3 {
    width: 100%;
    display: block;
  }

}

@media screen and (min-width: 480px) {
  .mobile-menu {
    display: none;
  }
}

/*==============================
=>  Layout
================================*/

.layout {
  margin-top: 2.4rem;
}

.layout > .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5rem;
}

.layout--3 > .container > div:first-child {
  flex-basis: 18%;
  max-width: 22.5rem;
}

.layout--3 > .container > div:nth-child(2) {
  flex-basis: 50%;
}

.layout--3 > .container > div:last-child {
  flex-basis: 25%;
}

.layout--2 > .container > div:first-child {
  flex-basis: 72%;
}

.layout--2 > .container > div:last-child {
  flex-basis: 25%;
}

/*========== Layout Box ==========*/

.layout__box {
  margin-left: 600px;
  margin-top: 400px;
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  background-color: var(--color-dark);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-dark-light);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.layout__boxTitle svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-main);
}

.layout__body {
  margin: 3rem;
}

@media screen and (max-width: 900px) {
  .activities,
  .topics {
    display: none;
  }
}

/*==============================
=>  Topics
================================*/

.form__group {
  margin-bottom: 2rem;
  width: 100%;
}

.form__group label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
  background: transparent;
  border: 1px solid var(--color-dark-light);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  font-weight: 500;
  outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--color-main);
}

.form__group textarea {
  background: transparent;
  height: 10rem;
  resize: none;
}

.form__group select {
  color: var(--color-gray);
  font-weight: 400;
}

.form__group select option {
  background-color: var(--color-dark-light);
  color: var(--color-light);
  padding: 0 10rem;
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

@media screen and (max-width: 500px) {
  .mobile-menu .header__search {
    display: block;
    margin-bottom: 2.4rem;
  }
}

/*==============================
=>  Classroom List
================================*/

.classroomList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.classroomList__header h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
  letter-spacing: 1px;
}

.classroomList__header p {
  font-weight: 500;
  color: var(--color-dark-light);
}

/*========== classroom List Room ==========*/

.classroomListRoom {
  margin-bottom: 2.4rem;
  background-color: var(--color-dark);
  border-radius: 1rem;
  padding: 2rem;
}

.classroomListRoom__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.classroomListRoom__author {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.classroomListRoom__actions {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}

.classroomListRoom__actions span {
  font-size: 1.4rem;
  font-weight: 500;
}

.classroomListRoom__actions svg {
  fill: var(--color-main);

  width: 1.6rem;
  height: 1.6rem;
}

.classroomListRoom__content {
  margin: 1rem 0;
}

.classroomListRoom__content a {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-light);
  transition: all 0.3s ease-in-out;
}

.classroomListRoom__content a:hover {
  color: var(--color-main);
}

.classroomListRoom__meta {
  border-top: 1px solid var(--color-dark-medium);
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.classroomListRooms {
  overflow-y: auto;
  height: 450px;
}

.classroomListRoom__joined {
  color: var(--color-light-gray);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.classroomListRoom__joined svg {
  fill: var(--color-main);
  width: 1.6rem;
  height: 1.6rem;
}

.classroomListRoom__topic {
  padding: 5px 1.5rem;
  background-color: var(--color-dark-medium);
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1.3rem;
}

/*==============================
=>  Create Classoom
================================*/

.create-classroom.layout .layout__box {
  max-width: 68rem;
}

/* ===== 
Profile Page
 ===== */

.profile-page .classroomList__header {
  margin-bottom: 1.5rem;
}

.profile-page .classroomList__header h2 {
  color: var(--color-dark-light);
}

/*======== Topics ========*/

.topics__header {
  margin-bottom: 2rem;
}

.topics__header h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-dark-light);
}

.topics__list {
  list-style: none;
}

.topics__list li a {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-weight: 500;
  color: var(--color-light-gray);
  transition: all 0.3s ease-in-out;
}

.topics__list li a.active,
.topics__list li a:hover {
  color: var(--color-main);
}

.topics__list li a span {
  padding: 0.5rem 1rem;
  background-color: var(--color-dark);
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.topics-page a:hover {
  text-decoration: underline;
}

.topics-page .topics__list li:not(:last-child) a {
  margin: 2rem 0;
  padding-bottom: 1rem;
  text-decoration: none;
  border-bottom: 1px solid var(--color-dark-medium);
}

.topics-page .header__search {
  display: block;
}
