{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/activity.css' %}" />
<main class="layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/icons/arrow-left.svg' %}" />
          </a>
          <h3>Recent Activities</h3>
        </div>
      </div>

      <div class="activities-page layout__body">
        {% for message in classroom_messages %}
        <div class="activities__box">
          <div class="activities__boxHeader classroomListRoom__header">
            <a href="{% url 'user-profile' message.author.id %}" class="classroomListRoom__author">
              
              <div class="avatar avatar--small">
                <img src="{{message.author.avatar.url}}" />
              </div>
              <p>
                @{{message.author.username}}
                <span>{{message.created | timesince}} ago</span>
              </p>
            </a>

            {% if request.user == message.author %}
            <div class="classroomListRoom__actions">
              <a href="{% url 'delete-message' message.id %}">
                <img src="{% static 'images/icons/remove.svg' %}" />
              </a>
            </div>
            {% endif %}
          </div>

          <div class="activities__boxContent">
            <p>replied to post “<a href="{% url 'classroom' message.classroom.id %}">{{message.classroom}}</a>”</p>
            <div class="activities__boxRoomContent">
              {{message}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}
