{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="create-conspect layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/icons/arrow-left.svg' %}" />
          </a>
          <h3>Create Conspect</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form__group">
            <label for="conspect_form">File Containing Conspect</label>
            {{form.file}}
          </div>

          <div class="form__action">
            <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
            <button class="btn btn--main" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
