{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<main class="layout layout--3">
  <div class="container container-main">
    {% include 'components/topics_component.html' %}

    <div class="classroomList">
      <div class="mobile-menu">
        <form class="header__search" action="{% url 'home' %}">
          <label>
            <svg class="search" width="16" height="16" viewBox="0 0 32 32">
              <title>search</title>
              <path d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"></path>
            </svg>
            <input name="q" placeholder="{% translate 'Search Classrooms' %}" />
          </label>
        </form>
        <div class="mobile-menuItems">
          <a class="btn btn--main btn--pill" href="{% url 'topics' %}"
            >{% translate "Browse Topics" %}</a
          >
          <a class="btn btn--main btn--pill" href="{% url 'activities' %}"
            >{% translate "Recent Activities" %}</a
          >
        </div>
      </div>

      <div class="classroomList__header">
        <div>
          <h2>{% translate "Classroom" %}</h2>
          <p>{{ classroom_count }} {% translate "Classrooms Available" %}</p>
        </div>
        <a class="btn btn--main" href="{% url 'create-classroom' %}">
          <svg class="add" width="32" height="32" viewBox="0 0 32 32" style="fill: var(--color-dark)">
            <title>add</title>
            <path d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"></path>
          </svg>
          {% translate "Create Classroom" %}
        </a>
      </div>
      <div class="classroomListRooms">

      {% include 'components/feed_component.html' %}

      {% include 'components/pagination_component.html' %}

    </div>
    </div>

    {% include 'components/activities_component.html' %}
  </div>
</main>
{% endblock content %}
