{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/login_register.css' %}" />
<main class="auth layout">
  {% if page == 'login' %}
  <div class="container">
    <div class="layout__box" style="margin-top: 300px;">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>{% translate "Login" %}</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">{% translate "Prepare in a single environment" %}</h2>
        <form class="form" action="" method="post">
          {% csrf_token %}
          <div class="form__group form__group">
            <label for="classroom_name">{% translate "Email" %}</label>
            <input id="username" name="email" type="text" placeholder="{% translate 'e.g. kriper1997@email.com' %}" />
          </div>
          <div class="form__group">
            <label for="password">{% translate "Password" %}</label>
            <div class="password-field">
              <input
                id="id_password1"
                name="password"
                type="password"
                placeholder="{% translate 'hope you use a powerful password' %}"
              />
              <input id="show-password" type="button" value="🙈" onclick="reveal()" />
            </div>
          </div>

          <button class="btn btn--main" type="submit">
            <svg class="lock" width="32" height="32" viewBox="0 0 32 32">
              <path d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"></path>
              <path d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"></path>
            </svg>
            {% translate "Login" %}
          </button>
        </form>

        <div class="auth__action">
          <p>{% translate "Haven't signed up yet?" %}</p>
          <a href="{% url 'register' %}" class="btn btn--link">{% translate "Sign Up" %}</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container">
    <div class="layout__box" style="margin-top: 430px;">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>{% translate "Register" %}</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">{% translate "Prepare in a single environment" %}</h2>

        <form class="form" action="" method="post">
          {% csrf_token %}

          {% for field in form %}
          <div class="form__group form__group">
            <label for="classroom_name">{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}
          <!-- <input id="show-password" type="button" value="🙈" onclick="reveal()" /> -->

          <button class="btn btn--main" type="submit">
            <svg class="lock"  width="32" height="32" viewBox="0 0 32 32">
              <path d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"></path>
              <path d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"></path>
            </svg>
            {% translate "Register" %}
          </button>
        </form>

        <div class="auth__action">
          <p>{% translate "Already signed up?" %}</p>
          <a href="{% url 'login' %}" class="btn btn--link">{% translate "Log In" %}</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</main>
{% endblock content %}
