{% extends 'base.html' %}
{% load static %}
{% load base_extras %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}" />
<main class="profile-page layout layout--3">
  <div class="container container-main">
    {% include 'components/topics_component.html' %}

    <div class="classroomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          {% if user.name %}
          <h3>{{ user.name }}</h3>
          {% else %}
          <h3>No Name</h3>
          {% endif %}
          <p>@{{user.username}}</p>
          {% if request.user == user %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>About</h3>
          {% if user.bio %}
          <p>{{ user.bio | convert_markdown | safe }}</p>
          {% else %}
          <p>No bio yet 💀</p>
          {% endif %}

          <hr />

          <h3>Balance</h3>
            <div class="layout__body__balance">
              <h1 class="jpcoin_balance">Current balance: {{user.balance}}</h1>
              <img class="header__jpcoin" src="{% static 'images/jazbapoint.png' %}"/>
          </div>
        </div>
      </div>

      <div class="classroomList__header">
        <div>
          <h2>Classrooms Hosted by @{{user.username}}</a>
          </h2>
        </div>
      </div>
      {% include 'components/feed_component.html' %}

      {% include 'components/pagination_component.html' %}
    </div>

    {% include 'components/activities_component.html' %}
  </div>
</main>
{% endblock content %}